.modal{
    position:fixed;
    z-index: 1;
    padding-top: 150px;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background: #dae069f5;
}


.modal-content{
    position:relative;
    background-color: #fefefe;
    margin:auto;
    padding:0;
    border: 1px solid red;
    width:80%;
    animation-name:animationModal;
    animation-duration:    1s;
}

.close-modal-icon{
  
    position: relative;
    bottom: 69px;
    cursor: pointer;
  
    font-size: 40px;
    float: right;
    font-weight: bold;
}

.header{
    
    padding: 4px 16px;
    background-color: #5cb85c;
    color:#fff;
}

.body{
    padding:2px 16px;
    height:200px;
}
.footer{
    padding:2px 16px;
    background-color: #5cb85c;
    color:#fff;
}

@keyframes animationModal {
    from{
        top:-200px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
}