.search-engine{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    margin-top:10px;
}

.search-engine input{
    width: 70%;
    height:45px;
    border:1px solid;
    border-radius: 8px;
    padding:2px 15px;
    font-size: 16px;
    outline: none;
    background-color: #ffffff;
    color:#555555;
}

.search-engine button{
    border:none;
    border-radius: 8px;
    background-color: #000000;
    color:#fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    padding: 13px 15px;
}
.weather-container{
    text-align: center;
    margin:25px auto 0px;
    width: 90%;
    max-width: 700px;
    border-radius: 20px;
    height: 470px auto;
    padding:20px 15px;
    background-color: aqua;
}

.city-name{
    margin-bottom: 10px;
}

.date{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.temp{
    font-size: 64px;
    color:#000;
    text-align: center;
    font-weight: bold;
}

.description{
    color:#000;
    font-size : 22px;
}